---
import Layout from '../../layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const blogPosts = await getCollection('blog');

  return blogPosts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}
import { formatDate } from '../../utils/utils';
import Tag from '../../components/ui/Tag.astro';

type Props = {
  post: CollectionEntry<'blog'>;
};

const { post } = Astro.props;
const { Content } = await post.render();

const imgLink = `${Astro.site.origin}/og/${post.slug}.png`;
---

<Layout
  title={`${post.data.title} | Omar45`}
  imgLink={imgLink}
  description={post.data.description}
>
  <div
    class='m-auto my-2 w-full max-w-4xl rounded-2xl bg-foreground/5 p-6 sm:p-10'
    dir={post.data.isArabic ? 'rtl' : 'ltr'}
  >
    <h1 class='text-3xl font-bold sm:text-4xl md:text-5xl'>
      {post.data.title}
    </h1>
    <div class={`flex flex-wrap gap-2 ${post.data.isArabic ? 'mt-6' : 'mt-3'}`}>
      {post.data.categories.sort().map((category) => <Tag>{category}</Tag>)}
    </div>
    <time
      datetime={post.data.date.toString()}
      class={`block text-sm sm:text-lg md:text-xl ${
        post.data.isArabic ? 'my-4' : 'mt-2 mb-4'
      }`}
    >
      {formatDate(post.data.date)}
    </time>
    <hr class='mb-4 opacity-30' />
    <section
      class='prose prose-invert max-w-4xl md:prose-xl prose-a:text-primary sm:prose-img:mx-auto sm:prose-img:w-[75%] sm:prose-img:transition-all sm:prose-img:duration-1000 hover:sm:prose-img:w-full'
    >
      <Content />
    </section>
  </div>
</Layout>

<script>
  // const pTags = document.querySelectorAll('p');
  // pTags.forEach((p) => {
  //   const firstWord = p?.textContent?.split(' ')[0];
  //   const isArabic = /[\u0600-\u06FF]/.test(firstWord || '');
  //   if (isArabic) {
  //     p.dir = 'rtl';
  //     p.classList.add('ar-txt');
  //   } else {
  //     p.dir = 'ltr';
  //   }
  // });
</script>
