---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/sections/Hero.astro';
import Stack from '../components/sections/Stack.astro';
import Projects from '../components/sections/Projects.astro';
import Blogs from '../components/sections/Blogs.astro';
---

<Layout title='Omar45'>
  <Hero />
  <Projects />
  <Stack />
  <Blogs />
  <!-- <section
    class='flex min-h-[calc(100vh-12rem)] flex-col items-center justify-center gap-4 p-4 text-center sm:min-h-[calc(100vh-6rem)]'
  >
    <Icon
      class='mb-6 text-brand-accent-cyan'
      name='twemoji:waving-hand-medium-light-skin-tone'
      size={70}
      aria-label='Waving Hand Emoji'
    />
    <h1 class='text-5xl font-extrabold sm:text-7xl md:text-9xl'>
      Hi<span class='text-brand-accent-pink'>!</span>
       I'm Omar
    </h1>
    <h2 class='text-2xl font-medium sm:text-3xl md:text-5xl'>
      a front-end developer
    </h2>
    <Icon
      class='mt-16 animate-[bounce_1.5s_ease-in-out_infinite] text-brand-accent-purple'
      name='iconoir:mouse-scroll-wheel'
      aria-label='Scroll Down Icon'
      size={40}
    />
  </section>
  <section
    class='flex w-full flex-col items-center justify-center gap-4 p-4 text-center'
  >
    <h3 class='text-4xl font-semibold sm:text-5xl md:mb-5 md:text-6xl'>
      Featured <span class='squiggle squiggle-pink'>Projects</span>
    </h3>
    <ul class='w-full space-y-3'>
      {
        projects.map((project) => (
          <ProjectCard
            image={project.data.image}
            title={project.data.title}
            description={project.data.description}
            categories={project.data.technologies}
            slug={project.slug}
          />
        ))
      }
      <li class='col-span-2 rounded-xl bg-brand-bg-dark p-3 sm:col-span-1'>
        <h4 class='w-full text-2xl font-semibold'>
          <a class='flex items-center justify-between' href='/projects'>
            All Projects
            <Icon name='bi:caret-right' size={20} />
          </a>
        </h4>
      </li>
    </ul>
  </section>
  <section class='my-4 w-full p-4 text-center md:my-10'>
    <h3 class='my-10 text-4xl font-semibold sm:text-5xl md:mb-5 md:text-6xl'>
      Tech <span class='squiggle squiggle-blue'>Stack</span>
    </h3>
    <ul
      class='mx-auto grid w-fit grid-cols-3 place-items-center gap-5 md:mt-12 md:grid-cols-6'
    >
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:react' title='React' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:react-router' title='React Router' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:tailwindcss-icon' title='Tailwind css' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:sass' title='Sass' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:typescript-icon' title='TypeScript' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:firebase' title='Firebase' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:astro' title='Astro' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:github-icon' title='GitHub' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:visual-studio-code' title='VS Code' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:figma' title='Figma' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='logos:lighthouse' title='SEO: lighthouse' size={85} />
      </li>
      <li
        class='rounded-xl bg-brand-text/10 p-5 transition-transform md:hover:scale-110'
      >
        <Icon name='ion:accessibility' title='A11y' size={85} />
      </li>
    </ul>
  </section>
  <section
    class='flex w-full flex-col items-center justify-center gap-4 p-4 text-center'
  >
    <h3 class='mt-10 text-4xl font-semibold sm:text-5xl md:mb-5 md:text-6xl'>
      Latest <span class='squiggle squiggle-green'>Blog Posts</span>
    </h3>
    <ul class='grid w-full grid-cols-2 gap-3 text-left'>
      {
        blogPosts
          .slice(0, 3)
          .map((post) => <BlogCard data={post.data} slug={post.slug} />)
      }
      <BlogCard
        data={{
          title: 'All Blog Posts',
          description: 'A list of all my blog posts',
          date: null,
          draft: false,
          author: 'Omar AbdulRahman',
        }}
        slug=''
      />
    </ul>
  </section> -->
</Layout>
