---
import { Icon } from 'astro-icon';
import { CollectionEntry } from 'astro:content';
import { formatDate } from '../utils/utils';
const { slug, data: post } = Astro.props as CollectionEntry<'blog'>;
---

<li class='bg-brand-bg-dark p-3 rounded-xl col-span-2 sm:col-span-1'>
  <h2 class='text-2xl font-semibold w-full hover:text-brand-accent-cyan'>
    <a class='flex items-center justify-between' href={`/blog/${slug}`}>
      {post.title}
      <Icon name='bi:caret-right' size={20} />
    </a>
  </h2>
  {
    post.categories && (
      <div class='my-2 flex flex-wrap gap-2'>
        {post.categories.sort().map((category) => (
          <span class='inline-block bg-brand-accent-cyan text-brand-bg-dark px-2 py-1 rounded-lg text-sm font-semibold'>
            {category}
          </span>
        ))}
      </div>
    )
  }
  {
    post.date && (
      <date>
        <a href={`/blog/${slug}`}>{formatDate(post.date)}</a>
      </date>
    )
  }
</li>
