---
import Tag from '../components/ui/Tag.astro';
import { Icon } from 'astro-icon';
import { Image } from 'astro:assets';
import Button from './ui/Button.astro';
const { data, slug } = Astro.props;
---

{
  data ? (
    <li class='bg-foreground/5 flex flex-col items-start justify-start gap-4 rounded-2xl p-3 text-center md:flex-row md:text-left'>
      <Image
        src={data.image}
        alt={data.title}
        width={600}
        height={400}
        class='aspect-[3/2] h-full w-full rounded-lg object-cover sm:max-h-48 sm:w-auto'
      />
      <div class='relative flex flex-col items-center gap-3 md:items-start'>
        <h3 class='text-4xl font-semibold'>{data.title}</h3>
        <div class='flex flex-wrap items-start justify-start gap-2'>
          {data.technologies.slice(0, 3).map((technology: String) => (
            <Tag>{technology}</Tag>
          ))}
        </div>
        <p class='text-foreground/80'>{data.description}</p>
        <Button abs path={`/projects/${slug}`}>
          View More
        </Button>
      </div>
    </li>
  ) : (
    <li class='bg-foreground/5 hover:text-accent focus-within:text-accent focus-within:outline-accent rounded-2xl p-4 outline outline-transparent transition-colors focus-within:outline-4'>
      <a
        href='/projects/'
        class='flex items-center justify-between font-medium focus:outline-none'
      >
        <div>
          <h3 class='text-2xl font-semibold md:text-3xl'>All Projects</h3>
        </div>
        <Icon name='bi:caret-right' class='text-primary' size={20} />
      </a>
    </li>
  )
}
