---
import { Icon } from 'astro-icon';
import Layout from '../../layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import Tag from '../../components/ui/Tag.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project: project },
  }));
}

type Props = {
  project: CollectionEntry<'projects'>;
};

const { project: project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={`${project.data.title} | Omar45`}>
  <article
    class='bg-foreground/5 m-auto my-2 w-full max-w-4xl rounded-2xl p-6 sm:p-10 sm:text-left'
  >
    <div class='flex flex-row items-center justify-center gap-2'>
      <h1 class='text-4xl font-bold md:text-5xl'>
        {project.data.title}
      </h1>
      {
        project.data.links?.github && (
          <a
            title='Github Link'
            target='_blank'
            href={project.data.links?.github}
            class='bg-accent text-background focus-visible:outline-accent ml-auto rounded-full p-1 focus:outline-none 
            focus-visible:outline-2 focus-visible:outline-offset-4 active:scale-90 sm:p-1.5'
          >
            <Icon name='simple-icons:github' size={26} />
          </a>
        )
      }
      {
        project.data.links?.live && (
          <a
            title='Live Link'
            target='_blank'
            href={project.data.links?.live}
            class={`${
              project.data.links.github ? '' : 'ml-auto'
            } bg-primary focus-visible:outline-primary rounded-full p-1 text-black focus:outline-none focus-visible:outline-2  focus-visible:outline-offset-4 active:scale-90 sm:p-1.5`}
          >
            <Icon name='mdi:launch' size={26} />
          </a>
        )
      }
    </div>

    <hr class='my-4 opacity-30' />
    <div class='flex flex-wrap items-start justify-start gap-2'>
      {
        project.data.technologies.map((technology, idx) => (
          <Tag>{technology}</Tag>
        ))
      }
    </div>
    <section
      class='marker:text-accent prose-a:text-primary prose prose-invert max-w-4xl md:prose-xl sm:prose-img:mx-auto sm:prose-img:w-[75%] sm:prose-img:transition-all sm:prose-img:duration-1000 hover:sm:prose-img:w-full'
    >
      <Content />
    </section>
  </article>
</Layout>

<script>
  // get all svgs inside article
  const svgs = document.querySelectorAll('article svg');
  // set their width to 20 on small screens and 30 on larger screens
  svgs.forEach((svg) => {
    svg.setAttribute('width', window.innerWidth > 768 ? '30' : '20');
    svg.setAttribute('height', window.innerWidth > 768 ? '30' : '20');
  });
</script>
