---
import ProjectCard from '../../components/ProjectCard.astro';
import MainLayout from '../../layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
const projects = await getCollection('projects', ({ data }) => {
  return !data.draft;
});
projects.sort((a, b) => {
  return b.data.title.localeCompare(a.data.title);
});
---

<MainLayout title='Projects | Omar45'>
  <section class='w-full'>
    <h2 class='text-3xl sm:text-4xl md:text-5xl font-semibold md:mb-5'>
      All Projects
    </h2>

    <ul class='mt-4 space-y-2 text-center'>
      {
        projects.map((proj) => (
          <ProjectCard
            image={proj.data.image}
            title={proj.data.title}
            description={proj.data.description}
            categories={proj.data.technologies}
            slug={proj.slug}
          />
        ))
      }
    </ul>
  </section>
</MainLayout>
