---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='stylesheet' href='/global.css' />
    <meta name='theme-color' content='#1e202b' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <!-- Primary Meta Tags -->

    <title>{title}</title>
    <meta name='title' content={title} />
    <meta name='description' content={description} />

    <!-- Open Graph / Facebook -->
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://omar45.vercel.app/' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta
      property='og:image'
      content='https://res.cloudinary.com/omar45/image/upload/v1691977024/projects/omar45_lpnxnm.png'
    />

    <!-- Twitter -->
    <meta property='twitter:card' content='summary_large_image' />
    <meta property='twitter:url' content='https://omar45.vercel.app/' />
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta
      property='twitter:image'
      content='https://res.cloudinary.com/omar45/image/upload/v1691977024/projects/omar45_lpnxnm.png'
    />

    <!-- Vercel Analytics -->
    <script>
      window.va =
        window.va ||
        function () {
          (window.vaq = window.vaq || []).push(arguments);
        };
    </script>
    <script defer src='/_vercel/insights/script.js'></script>
  </head>

  <body class='grid grid-rows-[auto_1fr_auto] bg-brand-bg text-brand-text'>
    <Navbar />
    <main class='mx-auto grid w-full max-w-4xl place-items-center p-4'>
      <slot />
    </main>
    <Footer />

    <!-- Woopra Analytics -->
    <script>
      !(function () {
        var t,
          o,
          c,
          e = window,
          n = document,
          r = arguments,
          a = 'script',
          i = [
            'call',
            'cancelAction',
            'config',
            'identify',
            'push',
            'track',
            'trackClick',
            'trackForm',
            'update',
            'visit',
          ],
          s = function () {
            var t,
              o = this,
              c = function (t) {
                o[t] = function () {
                  return (
                    o._e.push(
                      [t].concat(Array.prototype.slice.call(arguments, 0)),
                    ),
                    o
                  );
                };
              };
            for (o._e = [], t = 0; t < i.length; t++) c(i[t]);
          };
        for (e.__woo = e.__woo || {}, t = 0; t < r.length; t++)
          e.__woo[r[t]] = e[r[t]] = e[r[t]] || new s();
        ((o = n.createElement(a)).async = 1),
          (o.src = 'https://static.woopra.com/js/w.js'),
          (c = n.getElementsByTagName(a)[0]).parentNode.insertBefore(o, c);
      })('woopra');

      woopra.config({
        domain: 'omar45.com',
        outgoing_tracking: true,
        download_tracking: true,
        click_tracking: true,
      });

      woopra.track();
    </script>
  </body>
</html>
