---
const { title = 'Omar45' } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<head>
  <meta charset='utf-8' />
  <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
  <link rel='stylesheet' href='/global.css' />
  <meta name='viewport' content='width=device-width' />
  <meta name='generator' content={Astro.generator} />
  <!-- Primary Meta Tags -->

  <title>{title}</title>
  <meta name='title' content={title} />
  <meta
    name='description'
    content="I'm Omar, a Front-End Developer based in Egypt. I thrive on taking up challenging projects and experimenting with new technology stacks."
  />

  <!-- Open Graph / Facebook -->
  <meta property='og:type' content='website' />
  <meta property='og:url' content='https://omar45.vercel.app/' />
  <meta property='og:title' content={title} />
  <meta
    property='og:description'
    content="I'm Omar, a Front-End Developer based in Egypt. I thrive on taking up challenging projects and experimenting with new technology stacks."
  />
  <meta
    property='og:image'
    content='https://res.cloudinary.com/omar45/image/upload/v1691977024/projects/omar45_lpnxnm.png'
  />

  <!-- Twitter -->
  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content='https://omar45.vercel.app/' />
  <meta property='twitter:title' content={title} />
  <meta
    property='twitter:description'
    content="I'm Omar, a Front-End Developer based in Egypt. I thrive on taking up challenging projects and experimenting with new technology stacks."
  />
  <meta
    property='twitter:image'
    content='https://res.cloudinary.com/omar45/image/upload/v1691977024/projects/omar45_lpnxnm.png'
  />

  <!-- Meta Tags Generated with https://metatags.io -->
  <ViewTransitions />
</head>
